<h1>Editing purchaser</h1>

<% form_for(@purchaser) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @purchaser %> |
<%= link_to 'Back', purchasers_path %>
