<h1>Devices</h1>


<table>
	<tr>
	    <td class="table_header">Label name</td>
	    <td class="table_header">Serial number</td>
		<td class="table_header">Maker</td>
		<td class="table_header">Model</td>
	    <td class="table_header">Purchaser</td>
	    <td class="table_header">Phone number</td>
	   <td class="table_header">Carrier</td>
	   <td colspan="2" class="table_header">Activation date</td>
	</tr>
	

<% for device in @devices %>
<tr>

<!-- <div id="<%= cycle('odd','even') %>"> -->
    <td><%= link_to device.label_name, device %></td>
	<td><%=h device.serial_number %></td>
	<td><%=h device.maker.name %></td>
	<td><%=h device.model.name %></td>
    <td><%=h device.purchaser %></td>
    <td><%=h device.phone_number %></td>
    <td><%=h device.carrier %></td>
    <td><%=h device.activation_date.strftime("%m/%d/%Y") %></td>
    <td><%= link_to 'Destroy', device, :confirm => 'Are you sure?', :method => :delete %></td>
<!-- </div> -->
</tr>
<% end %>
</table>

<br />

<%= link_to 'New device', new_device_path %>
