<h1>New device</h1>

<% form_for(@device) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :label_name %><br />
    <%= f.text_field :label_name %>
  </p>
  <p>
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </p>
<p>
	Maker:<br />
	<%= select("maker","maker_id", Maker.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %>
</p>
<p>
	model:<br />
	<%= select("model","model_id", Model.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %>
</p>
<p>
	Device Type:<br />
	<%= select("type","type_id", Type.find(:all, :order => "name").collect {|p| [p.name, p.id]}, { }) %>
</p>

<p>
	Study:<br />
	<%= select("study","study_id", Study.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %>
</p>

<p>
	Owner:<br />
	<%= select("owner","owner_id", Owner.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %>
</p>

  <p>
	Purchaser:<br />
	<%= select("purchaser","purchaser_id", Purchaser.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %>
  </p>
  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :activated %>?<br />
    <%= f.radio_button :activated, true %> Yes <br />
	<%= f.radio_button :activated, false, :checked => true %> No
  </p>
  <p>
    Bluetooth ID<br />
    <%= f.text_field :bluetooth_id %>
  </p>
  <p>
	Rate Plan:<br />
	<%= select("rate_plan","rate_plan_id", RatePlan.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %>
  </p>
  <p>
	Carrier:<br />
	<%= select("carrier","carrier_id", Carrier.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %>
  </p>
  <p>
    <%= f.label :activation_date %><br />
    <%= f.datetime_select :activation_date %>
  </p>
  <p>
    <%= f.label :lock_code %><br />
    <%= f.text_field :lock_code %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', devices_path %>
