<p>
  <b>Label name:</b>
  <%=h @device.label_name %>
</p>

<p>
  <b>Serial number:</b>
  <%=h @device.serial_number %>
</p>

<p>
  <b>Purchaser:</b>
  <%=h @device.purchaser.name %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @device.phone_number %>
</p>

<p>
  <b>Activated?:</b>
  <%=h @device.activated %>
</p>

<p>
  <b>Bluetooth ID:</b>
  <%=h @device.bluetooth_id %>
</p>

<p>
  <b>Rate plan:</b>
  <%=h @device.rate_plan.name %>
</p>

<p>
  <b>Carrier:</b>
  <%=h @device.carrier.name %>
</p>

<p>
  <b>Activation date:</b>
  <%=h @device.activation_date %>
</p>

<p>
  <b>Lock code:</b>
  <%=h @device.lock_code %>
</p>

<p>
  <b>Study:</b>
  <%=h @device.study.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @device.type.name %>
</p>

<p>
  <b>Maker:</b>
  <%=h @device.maker.name %>
</p>

<p>
  <b>Model:</b>
  <%=h @device.model.name %>
</p>

<p>
  <b>Owner:</b>
  <%=h @device.owner.name %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>

<h1>Pairs</h1>
<% for pair in @pairs %>
	<% if @device.id == pair.device1_id %> 
		<% p_id = pair.device2_id %>
	<% else %>
		<% p_id = pair.device1_id %>
	<% end %>
	<%= link_to Device.find(p_id).label_name, device_path(p_id) %>
	<%= Device.find(p_id).maker.name %>
	<%= pair.created_at.strftime("%m/%d/%Y") %>
	<%= link_to 'Destroy', device_pair_path(@device,pair), :confirm => 'Are you sure?', :method => :delete %><br />
<% end %>

<p>
	<% form_for :pair, @pair, :url => device_pair_path(@device,@pair) do |f| %>
	<% if @search %>
		<%= select("pair","device_pair_id", Device.find(:all, :order => "label_name").collect {|p| [p.label_name, p.id]}, { :selected => @search.to_i }) %>
	<% else %>
		<%= select("pair","device_pair_id", Device.find(:all, :order => "label_name").collect {|p| [p.label_name, p.id]}, { }) %>
	<% end %>
		<%= f.submit 'Create pair!' %>
		<%= link_to 'find_device', :controller => "searches", :action => "new", :device => @device %>
	<% end %>
</p>

<p>
	<h1>Events</h1>
	<% for event in @device.events %>
		<%= link_to event.title, event %>
		<%= event.created_at.strftime("%m/%d/%Y") %><br>
	<% end %>
</p>

<p>
	<% form_for :event, @event, :url => device_event_path(@device,@event) do |f| %>
		Title:<br>
		<%= f.text_field :title %><br>
		Body:<br>
		<%= f.text_area :body, :rows => 4 %>
		<br>
		<%= f.submit 'Create' %>
	<% end %>
</p>


