<p>
	<b>Device:</b>
	<%= Device.find(params[:device]).label_name %>
</p>
<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @event.body %>
</p>

<p>
  <b>Created at:</b>
  <%=h @event.created_at.strftime("%H:%M on %m/%d/%Y") %>
</p>



<%= link_to 'Edit', edit_event_path(@event) %> 