<h1>Search</h1>

<% form_tag searches_path, :method => 'get' do  %>
	<%= hidden_field_tag 'device_id', @device_id %>
	Label Name: <%= text_field_tag :labelname %>
    <%= submit_tag "Find by Label" %>
<% end %>

<% form_tag searches_path, :method => 'get' do  %>
	<%= hidden_field_tag 'device_id', @device_id %>
	Serial Number: <%= text_field_tag :serial_number %>
    <%= submit_tag "Find by Serial Number" %>
<% end %>

<% form_tag searches_path, :method => 'get' do  %>
	<%= hidden_field_tag 'device_id', @device_id %>
	Phone Number: <%= text_field_tag :phone_number %>
    <%= submit_tag "Find by Phone Number" %>
<% end %>

<p>
<% form_tag searches_path, :method => 'get' do  %>
	<%= hidden_field_tag 'device_id', @device_id %>
	Maker: <%= select("maker","maker_id", Maker.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %><br>
	Model: <%= select("model","model_id", Model.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %><br>
    <%= submit_tag "Find" %>
<% end %>
</p>

<%= link_to 'Back', searches_path %>
