<h1>Search</h1>

<% form_tag searches_path, :method => 'get' do  %>
	<%= hidden_field_tag 'device_id', @device_id %>
	Label Name: <%= text_field_tag :labelname %><br>
	Maker: <%= select("maker","maker_id", Maker.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %><br>
	Model: <%= select("model","model_id", Model.find(:all, :order => "name").collect {|p| [p.name, p.id]}, {  }) %><br>
    <%= submit_tag "Find" %>
<% end %>


<%= link_to 'Back', searches_path %>
